*.sync
build/
build-dbg/
build_emscripten/
src/dirsort/dirsort-test 
src/dirsort/*.sync
src/dirsort/*.out
src/dirsort/test.txt
src/network/client
src/network/server
src/network/*.pem
src/parser/*.out
src/parser/toml.hpp
src/music/miniaudio.h
