[submodule "external/tomlplusplus"]
	path = external/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
    branch = master

[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
    branch = master

[submodule "external/cereal"]
	path = external/cereal
	url = https://github.com/USCiLab/cereal.git
  branch = master

[submodule "external/CLI11"]
	path = external/CLI11
	url = https://github.com/CLIUtils/CLI11.git
    branch = master

[submodule "external/libbacktrace"]
	path = external/libbacktrace
	url = https://github.com/ianlancetaylor/libbacktrace.git
    branch = master

[submodule "external/unordered_dense"]
	path = external/unordered_dense
	url = https://github.com/martinus/unordered_dense.git
